.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;


}


.box,body{
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
    border-radius: 5px;
   
    
}
.container{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
